.a {
    transition: all 0.3s ease-in-out;
}
.each-image {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    transition: 0.5s
  }
  .card-image {
    position: relative;
    width: 100%;
    height: 100%;
    transition: background-image 0.3s ease-in-out;
  }
.productName {
  color: black;
  text-decoration: none;
  text-transform: none;
  color:#00A0C6; 
  text-decoration:none; 
  cursor:pointer; 
}