.productName{
    color: black
}
.productPrice{
    background-color: black;
    width: 100px;
    padding: 10px;
    color: white;
    text-align: center;
    font-weight: bold;
    border-radius: 4px;
}
.addToCard {
    margin-left: 20px;
    margin-top: 20px;
}
.info h4 {
    color: grey
}
.info {
    width: 400px;
}
.info p{
    font-size: 12px;
}